<div class="container" [style.--dynamic-color]="bgColor()">
  <div class="during">
    <input
      type="range"
      #rangeInput
      min="0"
      step="any"
      [max]="currentTrack()?.duration || 0"
      [value]="displayTime()"
      (input)="onInput($event)"
      (change)="seekTrack(rangeInput.value)"
      [style.background-size]="progress() + '% 100%'"
    />
  </div>

  <div class="main-container">
    <div class="cover-img">
      <button class="cover-btn" (click)="openFullScreen()">
        <img [src]="currentTrack()?.coverUrl" [hidden]="!currentTrack()" />
      </button>
    </div>

    <div class="track-info">
      <p class="title">{{ currentTrack()?.title }}</p>
      <a class="artist" [routerLink]="['artist/', currentTrack()?.artistId]">{{
        currentTrack()?.artist
      }}</a>
    </div>

    <div class="navigation">
      <div class="like">
        <button class="like-btn-active" (click)="toggleLike()">
          <lucide-icon name="heart" [class.liked]="isLiked()"></lucide-icon>
        </button>
      </div>

      <button class="skip-track" (click)="playPastTrack()">
        <lucide-icon name="skip-back"></lucide-icon>
      </button>

      <button (click)="playPauseToggle()" class="play-btn">
        @if (isPlaying()) {
          <lucide-icon name="pause"></lucide-icon>
        } @else {
          <lucide-icon name="play"></lucide-icon>
        }
      </button>

      <button class="skip-track" (click)="playNextTrack()">
        <lucide-icon name="skip-forward"></lucide-icon>
      </button>
    </div>

    <div class="volume">
      <div class="vol-wrapper">
        <input
          type="range"
          #valInput
          class="volume-slider"
          min="0"
          max="1"
          step="0.01"
          [value]="currentVolume()"
          (input)="changeVolume(valInput.value)"
        />
      </div>

      <button (click)="toggleVolume()">
        @if (currentVolume() > 0.5) {
          <lucide-icon name="volume-2"></lucide-icon>
        } @else if (currentVolume() < 0.5 && currentVolume() !== 0) {
          <lucide-icon name="volume-1"></lucide-icon>
        } @else if (currentVolume() === 0) {
          <lucide-icon name="volume-x"></lucide-icon>
        }
      </button>
    </div>
  </div>
</div>
