:host {
  display: block;
  height: var(--player-bar-height);
  background-color: var(--player-bar-bg);
  margin: var(--player-bar-margin);
  border-radius: var(--player-border-radius);
}

.container {
  display: flex;
  flex-direction: column;
  line-height: 0;
  border-radius: var(--player-border-radius);
  transition: background 0.5s ease;
  backdrop-filter: blur(40px);
  background: color-mix(in srgb, var(--dynamic-color), #0000004f 50%);
}

.during input {
  all: unset;
  cursor: pointer;
  display: block;
  background-color: #505959;
  width: 100%;
  height: var(--player-progress-bar-height);
  border-radius: var(--player-progress-bar-border-rad);
  background-image: linear-gradient(var(--main-yellow-color), var(--main-yellow-color));
  background-repeat: no-repeat;
  border-radius: var(--player-border-radius) var(--player-border-radius) 0 0;
}

.during input::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background: var(--main-yellow-color);
}
.during input::-moz-range-thumb {
  border: none;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background: var(--main-yellow-color);
  cursor: pointer;
}

.main-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  height: 100%;
  width: 100%;
  padding: var(--player-bar-padding);
}

.cover-img {
  width: 7%;
  min-width: var(--width-player-img);
  flex-shrink: 0;
}

.cover-img img {
  width: var(--player-bar-cover-size);
  height: var(--player-bar-cover-size);
  border-radius: var(--player-bar-cover-br);
  pointer-events: none;
}

.cover-btn{
  all: unset;     
  position: relative;
  z-index: 10001;
  cursor: pointer;  
  display: block;   
  width: 100%;      
  height: 100%;
  border-radius: inherit; 
  overflow: hidden;
  width: var(--player-bar-cover-size);
  height: var(--player-bar-cover-size);
}

.track-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  margin-left: 10px;
  width: 100%;
}

.title {
  color: var(--main-text-color);
}
.track-info a {
  all: unset;
  cursor: pointer;
  z-index: 10;
  color: var(--secondary-text-color);
}

.navigation {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: absolute;
  padding-top: 5px;
}

.play-btn {
  all: unset;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-yellow-color);
  width: 45px;
  height: 45px;
  border-radius: 20px;
}

.play-btn:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.skip-track {
  all: unset;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--secondary-text-color);
}

.skip-track:hover {
  color: var(--main-text-color);
  transition: 0.5s;
}

.volume {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 10;
  margin-right: 15px;
}

.volume button {
  all: unset;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 60px;
  color: var(--secondary-text-color);
}

.vol-wrapper {
  position: absolute;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--player-bar-bg);
  padding: 15px 5px;
  border-radius: 10px;
  border: 2px solid rgb(75, 78, 78);

  display: none;
}

.volume:hover .vol-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.volume-slider {
  all: unset;
  appearance: slider-vertical;
  -webkit-appearance: slider-vertical;

  writing-mode: bt-lr;
  width: 20px;
  height: 150px;
  padding: 0 5px;
  writing-mode: vertical-lr;
  direction: rtl;
}

.volume-slider::-moz-range-track {
  background: #505959;
  border-radius: 10px;
  width: 6px;
}

.volume-slider::-moz-range-thumb {
  border: none;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: var(--main-yellow-color);
}

.like button {
  all: unset;
  cursor: pointer;
}

.like lucide-icon {
  color: var(--secondary-text-color);
  transition: all 0.2s ease;
}

.like lucide-icon.liked ::ng-deep svg {
  fill: currentColor;
}

@media (max-width: 800px) {
  .volume,
  .skip-track {
    display: none;
  }

  .navigation {
    justify-content: end;
    padding-right: 10%;
  }
}
