.albums{
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    margin-top: 15px;
}

.albums::-webkit-scrollbar {
  display: none;
}

ul{
    gap: 20px;
}

li{
    all: unset;
}

img{
    width: 200px;
    height: 200px;
    border-radius: 20px;
}

.album{
    display: flex;
    flex-direction: column;
    
}