.search {
    display: flex;
    gap: 10px;
    align-items: center;
    width: 100%;
}

.input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 35px;
    background-color: var(--bg-secondary);
    border: 1.5px solid rgb(53, 56, 56);
    border-radius: 10px;
    transition: 0.3s;
    box-sizing: border-box;
}

.lucide-search {
    margin-left: 10px;
    color: var(--secondary-text-color); 
    flex-shrink: 0; 
}

.input-wrapper input {
    all: unset;
    display: block;
    width: 100%;
    height: 100%;
    padding: 0 10px;
    color: var(--main-text-color);
    box-sizing: border-box;
}


.input-wrapper:hover {
    border-color: rgb(66, 68, 68);
    outline: 1.5px solid rgb(66, 68, 68);
}


.input-wrapper:focus-within {
    border-color: #e6e6e6;
    outline: 1.5px solid #e6e6e6;
}


.input-wrapper:focus-within .lucide-search {
    color: #e6e6e6;
}

.search button {
    all: unset;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-yellow-color);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    line-height: 0;
     flex-shrink: 0;
}

.search button:hover{
    transform: scale(1.1);
    transition: 0.5s;
}

button svg{
    display: block;
    margin: 0;
}
