:host {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr auto;
  overflow: hidden;
  background-color: var(--bg-main);
}

.side-bar {
  grid-column: 1;
  grid-row: 1 / 3;
}

.content {
  grid-column: 2;
  grid-row: 1;
  overflow-y: auto;
  background-color: var(--bg-secondary);
  border-radius: var(--page-border-radius);
  margin: var(--router-outlet-margin);
  padding: var(--router-outlet-padding);
}

.player {
  grid-row: 2;
  grid-column: 2;
}

* {
  scrollbar-width: auto;
  scrollbar-color: transparent;
}

::-webkit-scrollbar {
  width: 18px;
  background: transparent;
}

::-webkit-scrollbar-track {
  background: transparent;
  margin-block: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(92, 92, 92, 0.5);
  border-radius: 10px;
  border: 5px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(88, 88, 88);
}

::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
}
