<div class="container">
  <div class="logo">
    <h1>{{ appName }}</h1>
  </div>

  <div class="links">
    <a routerLink="" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
      <lucide-icon [img]="SearchIcon"></lucide-icon>
      {{SectionsNames.SEARCH}}</a
    >

    <a routerLink="main" routerLinkActive="active-link">
      <lucide-icon [img]="MainIcon"></lucide-icon>
      {{SectionsNames.MAIN}}</a
    >

    <a routerLink="playlist" routerLinkActive="active-link">
      <lucide-icon [img]="CollectionIcon"></lucide-icon>
      {{SectionsNames.COLLECTION}}</a
    >
  </div>

  <div class="user">
    <p>{{ user()?.displayName }}</p>
    <img [src]="user()?.photoURL" />
    <button (click)="service.logout()">{{SectionsNames.LOGOUT}}</button>
  </div>
</div>
