<div class="container">
  <div class="logo">
    <h1>{{ appName }}</h1>
  </div>

  <div class="links">
    <a routerLink="" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
      <lucide-icon name="search"></lucide-icon>
      <span>{{ 'SIDEBAR.SEARCH' | translate }}</span>
    </a>

    <a routerLink="main" routerLinkActive="active-link">
      <lucide-icon name="music"></lucide-icon>
      <span>{{ 'SIDEBAR.MAIN' | translate }}</span>
    </a>

    <a routerLink="collection" routerLinkActive="active-link">
      <lucide-icon name="book-heart"></lucide-icon>
      <span>{{ 'SIDEBAR.COLLECTION' | translate }}</span>
    </a>
  </div>

  <div class="lang-toggle">
    <div class="glider" [class.slide-right]="currentLang() === 'ru'"></div>

    <button type="button" (click)="setLang('en')" [class.active]="currentLang() === 'en'">
      {{ 'SIDEBAR.EN' | translate }}
    </button>

    <button type="button" (click)="setLang('ru')" [class.active]="currentLang() === 'ru'">
      {{ 'SIDEBAR.RU' | translate }}
    </button>
  </div>

  <div class="user">
    <div class="user-info">
      <img [src]="user()?.photoURL" />
      <p>{{ user()?.displayName }}</p>
    </div>
    <button class="logout-btn" (click)="logout()">{{ 'SIDEBAR.LOGOUT' | translate }}</button>
  </div>
</div>
