.container{
    color: var(--main-text-color);
}

.fav-list ::ng-deep ul {
  column-count: 2;     
  column-gap: 30px;    
}

.fav-list ::ng-deep li {
  margin-bottom: 10px; 
  width: 100%;         
}

.header{
  margin-bottom: 20px;
  width: auto;
}

a{
  all:unset;
  cursor: pointer;
}



a:hover{
  text-decoration: underline;
  text-decoration-color: rgb(255, 255, 255);
}