<div class="container">
  @if (artistProfile.isLoading() === false) {
    <app-entity-header-component
      [typeOfPage]="'Artist'"
      [image]="artistProfile.value()?.image"
      [imageForm]="'Circle'"
      [title]="artistProfile.value()?.name!"
      [description]="headerDiscriptionInfo()"
    >
      <app-listen-button-component
        [data]="artistProfile.value()?.topSongs!"
      ></app-listen-button-component>
    </app-entity-header-component>

    <div class="popular-songs">
      <div class="sector-header">
        <h1 [routerLink]="['/artist', artistId(), 'tracks']">{{ 'ARTIST_PROFILE.POPULAR_SONGS' | translate }}</h1>
      </div>
      <div class="songs">
        <app-track-list [tracks]="artistProfile.value()?.topSongs!"></app-track-list>
      </div>
    </div>

    @if (topAlbums().length) {
      <div class="media">
        <div class="sector-header">
          <h1>{{ 'ARTIST_PROFILE.POPULAR_ALBUMS' | translate }}</h1>
        </div>
        <app-media-list-section
          [data]="topAlbums()"
          [imageForm]="'Square'"
        ></app-media-list-section>
      </div>
    }

    @if (similarArtists().length) {
      <div class="media">
        <h1>{{ 'ARTIST_PROFILE.SIMILAR_ARTISTS' | translate }}</h1>

        <app-media-list-section
          [data]="similarArtists()"
          [imageForm]="'Circle'"
        ></app-media-list-section>
      </div>
    }
  } @else {
    <app-entity-header-component-skeleton
      [imageForm]="'Circle'"
    ></app-entity-header-component-skeleton>

    <div class="popular-songs">
      <div class="sector-header">
        <h1>Popular songs:</h1>
      </div>
      <div class="songs">
        @for (item of [1, 2, 3, 4, 5]; track $index) {
          <app-track-row-skeleton></app-track-row-skeleton>
        }
      </div>
    </div>
  }
</div>
